{% extends "base.html" %}

{% block title%} home {% endblock %}

{% block content %}
<h1>To Do List</h1>

{% if all_items %}
<table class="table table-bordered">
    {% for item in all_items %}
        {% if item.complete %}
        <tr class="table-secondary">
            <td> {{ item }} </td>
            <td>from list: "{{ item.of_list }}"</td>
        </tr>
        {% else %}
        <tr>
            <td> {{ item }} </td>
            <td>from list: "{{ item.of_list }}"</td>
        </tr>
        {% endif %}
    {% endfor %}
</table>
{% endif %}

{% endblock %}