{% extends "base.html" %}

{% block title%} home {% endblock %}

{% block content %}
<h1>To Do List</h1>

{% if all_items %}
<table class="table table-bordered">
    {% for item in all_items %}
        <tr class="{% if item.complete %}table-secondary strikethrough{% endif %}">
            <td class="{% if item.complete %}strikethrough{% endif %}">done</td>
            <td> {{ item }} </td>
            <td>from list: "{{ item.of_list }}"</td>
            <td><a href="{% url 'delete' item.id %}">delete</a></td>
        </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}